* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  background-color: #8d8d8d;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 50px;
  font-family: sans-serif;
}

header {
  margin-top: 50px;
  border: 2px solid #8d8d8d;
  box-shadow: 5px 5px 20px 10px #b3b3b3;
  padding: 5px;
}

.inner-container {
  width: 60vw;
  height: 40vh;
  background-color: #b3b3b3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 2px 2px 5px black;
  border-radius: 5px;
}

.pad-bank {
  width: 60%;
  height: 95%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 5px;
  z-index: 5;
}

.drum-pad {
  width: 30%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #808080;
  z-index: 10;
  box-shadow: 4px 4px 5px black;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bolder;
  cursor: pointer;
}
.drum-pad:active {
  background-color: var(--bg-color);
  box-shadow: 1px 1px 5px black;
}
.drum-pad-blink {
  background-color: goldenrod;
}

.controls-container {
  width: 40%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 5px;
  z-index: 5;
}

.control {
  height: 50px;
  width: 100px;
  font-family: "Russo One";
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
  z-index: 10;
}
.select,
.inner {
  width: 25px;
  height: 25px;
  background-color: #04aa6d;
  box-shadow: 2px 2px 5px black;
  cursor: pointer;
}

.display {
  width: 90%;
  height: 50px;
  padding: 15px 10px;
  background-color: #808080;
  box-shadow: 0px 0px 5px black inset;
}
.light {
  background-color: #fbf9f9;
}
.light:hover {
  background-color: #fbf9f9;
}

.volume-control {
  width: 100%;
}

.volume-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: #660606fd;
  border: 1px solid #808080;
  box-shadow: 2px 2px 5px black;
  outline: none;
  opacity: 0.8;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.volume-slider:hover {
  opacity: 1;
}

.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 25px;
  border: 1px solid #808080;
  background: #04aa6d;
  box-shadow: 4px 4px 5px black;
  cursor: pointer;
}

.volume-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border: 1px solid #808080;
  background: #04aa6d;
  cursor: pointer;
}

@media only screen and (max-width: 640px) {
  .inner-container {
    width: 98vw;
    height: 50vh;
  }
  .drum-pad {
    width: 25%;
    height: 25%;
  }
  .pad-bank {
    padding: 0;
  }
  .controls-container {
    padding: 0;
  }
  .display {
    width: 100%;
    height: 20%;
  }
}
